.actions-container {
    display:flex;
    margin:0px;
    background:transparent;
    position: relative;
}
.video-actions a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.video-actions a.btn.warn {
    border-color: #1e9bff;
    margin: 50px;
}

.video-actions a.btn.warn:hover {
    background-color: #0d6efd;
}

.video-actions a.btn.danger {
    border-color: #ff1867;
    margin: 50px;
}

.video-actions a.btn.danger:hover {
    background-color: #ff004c;
}


.comment-container {
    background: rgba(255, 255, 255, 0.394);
    border-radius: .6rem;
    margin-top: 40px;
    font-size: 20px;
    align-content: center;
    padding: 0px 10px ;
    border: 1px solid blue;
}

.comment-post {
    background: rgba(210, 210, 218, 0.567);
    border-radius: .6rem;
    border-bottom: 1px solid black;
    margin: 10px;
}

.btn-comment {
    border-radius: .6rem;
    background: orange;
}

.btn-comment:hover {
    background: orangered;
}

.like-action {
    border-radius: .6rem;
    color:#1e9bff;
    font-size: 20px;
    position:relative;
    top: 2rem;
    left: 2rem;
}

.delete-img {
    width: 20px;
    height: 20px;
    
}