{% extends 'base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<h2>{{ video.title }}</h2>
<div style="position: relative;height: 0; overflow: hidden; max-width: 1000px; height: 500px;">
    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            src="https://www.youtube.com/embed/{{ video.video_url }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>
{% if request.user == video.user %}
<div class="video-actions">
    <a href="{% url 'video-update' video.id %}" class="btn warn">Edit</a>
    <a href="{% url 'video-delete' video.id %}" class="btn danger">Delete</a>
</div>
{% endif %}

<p>
    Likes: {{ likes }}
    {% if request.user.is_authenticated %}
        {% if user_likes_video %}
            <form method="post" action="{% url 'like-video' video.id %}">
                {% csrf_token %}
                <button type="submit">Unlike</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'like-video' video.id %}">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
        {% endif %}
    {% else %}
        <p>Login to like this video.</p>
    {% endif %}
</p>

<h3>Comments</h3>
<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.user }}</strong>: {{ comment.text }} <em>({{ comment.created_at }})</em>
            {% if request.user == comment.user %}
            <a href="{% url 'delete_comment' video.id comment.id %}">Delete</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No comments yet.</li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}
    <h3>Add a Comment</h3>
    <form method="post" name="comment_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% else %}
    <p>You must be <a href="{% url 'home' %}">logged in</a> to add a comment.</p>
{% endif %}

<a href="{% url 'index' %}">Back to Video List</a>

{% endblock %}
