{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/videos/video-index.css' %}" />
{% endblock %}
{% block title %}Video List{% endblock %}

{% block content %}
<h2>Video List</h2>
<ul>
    <section class="card-container">
        {% for video in videos %}
            <li>
                <a href="{% url 'video-detail' video.id %}">
                    <div class="card-img-container">
                        <div class="card-title">
                            {{ video.title }}
                        </div>
                        <img src="https://img.youtube.com/vi/{{ video.video_url }}/0.jpg" alt="YouTube Video Thumbnail" />
                    </div>
                </a>    
            </li>
    
        {% endfor %}
    </section> 
</ul>
{% endblock %}