
main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

main>section {
    background: rgba(200, 204, 213, 0.8);
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-logo-container {
    display: none;
}

.logo-container {
    padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logo-container::before {
    content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.logo-container::after{
    z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.login h1 {
    font-size: clamp(3.2rem, 3vw, 4.8rem);
    margin: 10px 0;
}

.login>p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 14px 0 0px;
}

.login label {
    font-size: var(--font-reg);
    margin-bottom: 6px;
}

.login input {
    font-size: var(--font-l);
    padding: 2px 4px;
}

.login .btn {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 16px;
}

@media only screen and (min-width: 768px) {
    main {
        justify-content: space-around;
    }

    main>section {
        width: 40%;
    }

    .login {
        border: var(--borders);
        padding: 20px;
        border-radius: var(--card-border-radius);
        box-shadow: var(--card-box-shadow);
        width: 100%;
    }

    .logo-container {
        max-width: 520px;
    }
}

